/*
.header, .body, .footer {
  margin: 15px 0 15px -10px;
  width: auto;
  background: #002b5c;
  color: white;
  border-radius:10px 10px 0 0;
  padding: 5px;
  text-align: center;
  font-size: 15px;
  font-family: cursive;
  box-shadow: 8px 8px 2px 1px rgba(0, 0, 255, .2);
}

.body {
  display: flex;
  min-height: 20vh;
  border: solid #002b5c 2px ;
  border-bottom: 0;
  border-top: 0;
  border-radius: 0;
  background: none;
  align-items: center;
  justify-content: center;
  box-shadow: none !important;
}

.footer {
  border-radius: 0 0 10px 10px;
}
*/
