<div class="row">
    <div class="d-flex justify-content-between mb-2">
      <h5 class="text-black">Project List</h5>
      <i class="fa fa-plus-circle text-primary fa-2x" routerLink="/admin/projects/nouveau" title="add"></i>
    </div>
    <div class="row">
      <table class="table table-hover">
        <thead>
        <tr>
          <th>Project code</th>
          <th>Project name</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Creation date</th>
          <th>Start date</th>
          <th>End date</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let proj of gpProjects">
          <td>{{proj.projectCode}}</td>
          <td>{{proj.name}}</td>
          <td>{{proj.description}}</td>
          <td>{{proj.amount}}</td>
          <td>{{proj.creationDate}}</td>
          <td>{{proj.startDate}}</td>
          <td>{{proj.endDate}}</td>
          <td>
            <i (click)="edit(proj.id)" class="fa fa-user-edit text-primary " title="edit"></i>
            <i (click)="delete(proj.id)" class="fa fa-trash-alt text-danger ms-2" title="Delete"></i>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    </div>
    