<div class="row">
    <div class="d-flex mb-2">
      <h5 class="text-black">{{ title }} project</h5>
    </div>
      <form (ngSubmit)="save()" [formGroup]="projectForm">        
        <div class="row my-1">
          <div class="form-group col-md-4">
            <input class="form-control" formControlName="name" placeholder="name" type="text">
          </div>
          <div class="form-group col-md-4">
            <input class="form-control" formControlName="description" placeholder="description" type="text">
          </div>
          <div class="form-group col-md-4">
            <input class="form-control" formControlName="projectCode" placeholder="project code" type="text">
          </div>
        </div>
        <div class="row my-1">          
          <div class="form-group col-md-4">
            <input class="form-control" formControlName="amount" placeholder="amount" type="number">
          </div>
          <div class="form-group col-md-4">
            <input class="form-control" formControlName="startDate" placeholder="start date" onfocus="(this.type='date')" type="text">
          </div>
          <div class="form-group col-md-4">
            <input class="form-control" formControlName="endDate" placeholder="end Date" onfocus="(this.type='date')" type="text">
          </div>
        </div>
        <div class="row my-1"> 
          <div class="form-group col-md-4">
            <select class="form-control" formControlName="gpChefProjet">
              <option disabled ngValue="">Choose your project manager</option>
              <option *ngFor="let projMan of listProjectManager" [ngValue]="projMan" [selected]="projMan.id===gpChefProjet?.id">
                {{projMan.lastname}} {{projMan.firstname}}
              </option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <select class="form-control" formControlName="gpOrganization">
              <option disabled ngValue="">Choose an organization</option>
              <option *ngFor="let org of listOrganisations" [ngValue]="org" [selected]="org.id===gpOrganization?.id">
                {{org.name}}
              </option>
            </select>
          </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
          <button [disabled]="projectForm.invalid" class="btn btn-primary btn-sm mx-2" type="submit">Register</button>
          <button class="btn btn-secondary btn-sm" type="reset">Reset</button>
        </div>
      </form>
  </div>
  